<div class="container">

  <header>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <span>Распознаватель</span>
      </mat-toolbar-row>
    </mat-toolbar>
  </header>

  <main>

    <div class="left-block">
      <mat-card>
        <mat-list>
          <h3 mat-subheader>Действие</h3>
          <mat-list-item *ngFor="let item of menu">
            <mat-icon mat-list-icon>{{item.icon}}</mat-icon>
            <a mat-line [routerLink]="item.urls">{{item.name}}</a>
          </mat-list-item>
        </mat-list>
      </mat-card>
    </div>

    <div class="right-block">
      <mat-card>
        <router-outlet></router-outlet>
      </mat-card>
    </div>

  </main>
</div>
