<div class="container-header">
  <p>Тренировать</p>
</div>

<div class="container-row">
  <p>Введите настройки обучения:</p>
  <form *ngIf="trainParams" autocomplete="off" (ngSubmit)="train()">
    <div class="form-style">
      <mat-form-field class="form-field-style field-width-2">
        <input matInput
               placeholder="Learning rate (коэффициент)"
               [(ngModel)]="trainParams.learning_rate"
               name="learningRate">
      </mat-form-field>

      <mat-form-field class="form-field-style field-width-2">
        <input matInput
               placeholder="Количество итераций обучения (шт)"
               [(ngModel)]="trainParams.num_iteration"
               name="numIteration">
      </mat-form-field>

      <mat-form-field class="form-field-style field-width-2">
        <input matInput
               placeholder="Размер обучающейся партии (шт)"
               [(ngModel)]="trainParams.batch_size"
               name="batchSize">
      </mat-form-field>
    </div>
  </form>
  <mat-spinner *ngIf="!trainParams"></mat-spinner>
</div>

<div class="container-row">
  <p>Введите параметры сверточной нейронной сети:</p>
  <div *ngIf="nnParams">
    {{nnParams | json}}
  </div>
  <mat-spinner *ngIf="!nnParams"></mat-spinner>
</div>

<button mat-raised-button>Тренировать сеть</button>

<div class="container-row">
  <button mat-raised-button (click)="getReport()">Получить отчет</button>

  <div *ngIf="report">
    {{report | json}}
  </div>
</div>
