<h4>Тренировать</h4>

<h5>Параметры обучени, параметры сети (сделать)</h5>
<form *ngIf="trainParams && nnParams" autocomplete="off" (ngSubmit)="train()">
  <mat-form-field>
    <input matInput
           placeholder="Уровень обучения"
           [(ngModel)]="trainParams.learning_rate"
           name="learningRate">
  </mat-form-field>

  <mat-form-field>
    <input matInput
           placeholder="Размер обучающейся партии"
           [(ngModel)]="trainParams.batch_size"
           name="batchSize">
  </mat-form-field>

  <mat-form-field>
    <input matInput
           placeholder="Количество итераций обучения"
           [(ngModel)]="trainParams.num_iteration"
           name="numIteration">
  </mat-form-field>

  <button mat-raised-button>Тренировать сеть</button>
</form>

{{trainParams | json}}
{{nnParams | json}}
